django 
djangorestframework
corsheaders
psycopg2-binary
django-userforeignkey
djangorestframework-simplejwt
opencv-python==4.11.0.86
opencv-contrib-python==4.11.0.86

torch==2.7.1+cpu
torchvision==0.22.1+cpu

torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

mediapipe
protobuf==3.20.3 
opencv-

mediapipe==0.10.9
mediapipe==0.10.0